body {
	font-family: "Century Gothic";
	background-color: #2D4551;
	color: #fff;
}

h1 {
	margin-top: 0;
}

.navbar-default .navbar-nav li a {
	color: #fff;
}

.navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav li:hover a {
	background-color: #74C43E;
	color: #173442;
	font-weight: bold;
	letter-spacing: 0.2px;
}

.navbar-default {
	background-color: #222; /*1734428*/
}

.navbar {
	margin: 0;
	border: none;
	border-bottom: 1px solid #74C43E;
}

.content {
	font-size: 16px;
	background-color: #4D5F69;
}

#chains .row {
	margin: 0;
}

#chains .col-md-3 {
	padding: 0;
	width: 20%;
}

@media(max-width: 768px) {
	#chains .col-md-3 {
	width: 100%;
}
}

#chains svg {
	border-right: 1px solid #74C43E;
	border-bottom: 1px solid #74C43E;
}

#chains .col-xs-12:first-child svg {
	border-left: 1px solid #74C43E;
}

#chains .description {
	color: #173442;
	background-color: #74C43E;
	padding: 10px 20px;
	margin-top: -5px;
	bottom: 0;
}

path {
	fill: rgba(0,0,0,0);
	cursor: pointer;
}
@keyframes fillCircle {
	0% {
		fill: rgba(0,0,0,0);
	}
	100% {
		fill: #74C43E;
	}
}
.fillIt {
	animation-fill-mode: forwards;
	fill: #74C43E;
	-webkit-animation-fill-mode: forwards;
	animation: fillCircle .1s linear;
}

#courseGraph {
	position: relative;
}
